footer {
  background-color: $blue-color;
}

.footer-info {
  font-family: $main-font, sans-serif;
  font-weight: normal;
}

.footer-tittle {
  margin-bottom: 40px;
  font-size: 20px;
  font-family: $main-font, sans-serif;
  font-weight: normal;
  display: inline-block;
  text-transform: uppercase;
  color: $white-color;
}

.footer-address,
.footer-tel {
  padding: 0;
  text-align: right;
  list-style: none;
  color: $white-color;

  & li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    & a {
      text-decoration: none;
      color: $white-color;
    }
  }
}

.footer-address {
  padding-bottom: 10px;
  border-bottom: 4px solid $white-color;
}

@media (min-width: 768px) {
  .footer-tittle {
    margin-bottom: 0;
  }

  .footer-info {
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
  }

  .footer-address {
    padding-bottom: 0;
    padding-right: 33px;
    line-height: 18px;
    border-bottom: none;
    border-right: 4px solid $white-color;
  }

  .footer-tel {
    margin-right: 15px;
    padding-right: 21px;
    line-height: 18px;
    border-right: 4px solid $white-color;
  }
}

@media (min-width: 1024px) {
  .footer-address {
    margin-right: 120px;
  }

  .footer-info {
    justify-content: flex-end;
  }
}

@media (min-width: 1366px) {
  .footer-info {
    justify-content: flex-end;
  }
}