* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: $main-font, "Arial", sans-serif;
  background: $white-color;
}

p {
  font-size: 16px;
  line-height: 20px;
}

h3  {
  font-size: 20px;
  line-height: 20px;
  color: $blue-color;
  text-transform: uppercase;
  font-family: $font-bold, sans-serif;
}

.title_h3 {
  margin-top: 42px;
  margin-bottom: 15px;
  padding-left: 16px;

  &--pl {
    padding-left: 15px;
  }
}

.name {
  display: inline-block;
}

@media (min-width: 769px) {
  #top_nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: #2244a8;
    height: 215px;
  }
}

@font-face {
  font-family: 'Conv_GothaProBla';
  src: url('../font/black/GothaProBla.eot');
  src: url('../font/black/GothaProBla.woff') format('woff'),
       url('../font/black/GothaProBla.ttf') format('truetype'),
       url('../font/black/GothaProBla.svg') format('svg');
}

@font-face {
  font-family: 'Conv_tornadoc-bold';
  src: url('../font/tornadoc-bold.eot');
  src: url('../font/tornadoc-bold.woff') format('woff'),
       url('../font/tornadoc-bold.ttf') format('truetype'),
       url('../font/tornadoc-bold.svg') format('svg');
}

@font-face {
  font-family: 'Conv_GothaProReg';
  src: url('../font/reg/GothaProReg.eot');
  src: url('../font/reg/GothaProReg.woff') format('woff'),
       url('../font/reg/GothaProReg.ttf') format('truetype'),
       url('../font/reg/GothaProReg.svg') format('svg');
}

@font-face {
  font-family: 'Conv_GothaProBol';
  src: url('../font/bold/GothaProBol.eot');
  src: url('../font/bold/GothaProBol.woff') format('woff'),
       url('../font/bold/GothaProBol.ttf') format('truetype'),
       url('../font/bold/GothaProBol.svg') format('svg');
}

@font-face {
  font-family: 'Conv_GothaProLig';
  src: url('../font/light/GothaProLig.eot');
  src: url('../font/light/GothaProLig.woff') format('woff'),
       url('../font/light/GothaProLig.ttf') format('truetype'),
       url('../font/light/GothaProLig.svg') format('svg');
}

@font-face {
  font-family:"TornadoC-Bold";
  src: url("/font/tornadoc.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
